{% extends "server/base/base.html" %}

{% block titleblock %}
    Index
{% endblock %}

{% block bodyblock %}
    <h1>Productivity Pal</h1>
    <p>Productivity pal is a tool that can be used by individuals to track productivity over time.</p>
    <p>
    Productivity is gained by browsing sites that are productive, like news sites or educational sites.<br/>
    Productivity is lost by browsing sites that are not productive, like games.</p>

    <p>Ideally, the app would also measure things like how much writing you do versus how much idling in programs like
    text editors and IDEs, and have the ability to compare your profile with your 'friends'.
    </p>

    <p>We obviously need this app because our productivity sucked this weekend.</p>

    <p>While you are being productive, microsoft azure will analyze your face through your camera and detect
    what you are feeling. You can then see if your productivity increases/decreases when you are feeling a
    certain way. Try to stay happy and be productive! :))</p>
{% endblock %}
