{% extends "server/base/base.html" %}

{% load staticfiles %}

{% block titleblock %}
    Profile
{% endblock %}

{% block bodyblock %}

    <div id="emotion_chart" style="height: 250px;">
    </div>

    <div id="productivity_chart" style="height: 250px;">
    </div>


    <link rel="stylesheet" href="{% static "css/morris.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/raphael.min.js" %}"></script>
    <script src="{% static "js/morris.min.js" %}"></script>
    {% if productivity_data %}
    <script>
        var productivity_data = {{ productivity_data|safe }};
        
        console.log(productivity_data);
        new Morris.Line({
          // ID of the element in which to draw the chart.
          element: 'productivity_chart',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: productivity_data,
          // The name of the data record attribute that contains x-values.
          xkey: 'date',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['productivity'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['productivity (%)']
        });
    </script>
    {% endif %}

    {% if emotion_data %}
        <script>
        var emotion_data = {{ emotion_data|safe }};

        console.log(productivity_data);
        new Morris.Line({
          // ID of the element in which to draw the chart.
          element: 'emotion_chart',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: emotion_data,
          // The name of the data record attribute that contains x-values.
          xkey: 'date',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['anger', 'contempt','disgust', 'fear', 'happiness','neutral','sadness', 'surprise'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['anger (%)', 'contempt (%)','disgust (%)', 'fear (%)', 'happiness (%)','neutral (%)','sadness (%)', 'surprise (%)']
        });
    </script>
    {% endif %}
{% endblock %}